@import url(style.css);
@import url(blog.css);

.category-nav-items ol {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.category-nav-items li {
    border: 1px solid var(--lightGrey);
    padding: 10px;
    width: 20%;
    font-size: 18px;
    font-weight: 600;
    color: var(--darkGrey);
}

li.category.active-orange {
    background: var(--orange);
    color: #fff;
    font-weight: 600;
}

.category-nav-items ol:hover {
    margin-left: 0px;
}

.category-nav-items li:hover {
    margin-left: 0px;
}

.ms-3 {
    margin-left: 0 !important;
}

.categories .card:hover {
    transform: none;
}

.kundali-result-page th,
.kundali-result-page td {
    border: 1px solid #cecece;
}